<%= render 'shared/rails_navbar' %>
<div class="container">
  <h1>All Advisors</h1>

  <table class="table table-striped">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Admin Status</th>
      <th>Delete?</th>
    </tr>
    <% @advisors.each do |advisor| %>
      <tr>
        <td><%= advisor.first_name %></td>
        <td><%= advisor.last_name %></td>
        <td><%= advisor.email %></td>
        <td>
          <%= advisor_status(advisor) %>

        </td>
        <td>
          <%= advisor_deletion(advisor) %>
        </td>
      </tr>
    <% end %>
  </table>

  <a href="/advisors/sign_up" id="add-advisor" class="btn btn-primary">Add new admin or advisor</a>
</div>
